{{! Actividad 2° pre-entrega }}
<h1>Shopping Cart</h1>

<div class="cardContainer">
  {{#each products}}
    <div class="card">
      <p> Product: {{this.product.title}}</p>
      <p> Quantity: {{this.quantity}}</p>
      <p> Price: ${{this.product.price}}</p>

      <button> Eliminate </button>
    </div>

    <div>
      <button> Empty Cart </button>
      <p> Total Purchase: </p>
    </div>
  {{/each}}
</div>