<h1>Reset your Password</h1>

<form action="/api/users/reset-password" method="POST">

  <label for="email"> Email </label>
  <input type="email" name="email" required />

  <label for="token"> Confirmation Number </label>
  <input type="text" name="token" id="token" required />

  <label for="password"> New Password </label>
  <input type="password" id="password" name="password" required />

  <button type="submit"> Reset </button>

</form>

{{#if}}
  <p> {{error}} </p>
{{/if}}