<h1>Check your Email</h1>

<form action="/api/users/requestpasswordreset" method="POST">
  <label for="email"> Email </label>
  <input type="text" name="email" id="email" required />

  <button type="submit"> Send </button>
</form>

{{#if error}}
  <p> {{error}} </p>
{{/if}}