<h1>Check your Email</h1>

<form action="/api/users/requestpasswordreset" method="POST" class="backgroundContainer">
  <label for="email"> Email </label>
  <input type="email" name="email" id="email" required autocomplete="off"/>
  <button type="submit" class="btnUser"> Send </button>
</form>

{{#if error}}
  <p> {{error}} </p>
{{/if}}