<h1>Checkout</h1>

<div class="backgroundContainer profileContainer">
  <p><span>Customer: </span> {{ customer }}</p>
  <p><span>Your ticket number: </span> {{ ticketNumber }}</p>
  <p><span>The amount purchase: $ </span> {{ amountTicket }}</p>
  <p><span>Email: </span> {{ email }}</p>

  <div class="btnProfile">
    <a href="/products" class="btnUser">CONTINUE SHOPPING</a>
    <a href="/api/users/profile" class="btnUser">My Profile</a>
  </div>
</div>

<h2>Thank you for your Purchase!</h2>
