<h1>Checkout</h1>

<div class="backgroundC__container profile__container">
  <p><span>Customer: </span> {{ customer }}</p>
  <p><span>Your ticket number: </span> {{ ticketNumber }}</p>
  <p><span>The amount purchase: $ </span> {{ amountTicket }}</p>
  <p><span>Email: </span> {{ email }}</p>

  <div class="btn__profile">
    <a href="/products" class="btn__user">CONTINUE SHOPPING</a>
    <a href="/api/users/profile" class="btn__user">My Profile</a>
  </div>
</div>

<h3> We will send you the purchase receipt to your email </h3>
<h2>Thank you for your Purchase!</h2>
