<h1> welcome to Urban Shoes </h1>

<section class="home__container">

  <div class="home__slider">
    <ul>
      <li><img src="/img/slider1.svg" alt="Footwear Image" /></li>
      <li><img src="/img/slider2.svg" alt="Footwear Image" /></li>
      <li><img src="/img/slider3.svg" alt="Footwear Image" /></li>
      <li><img src="/img/slider4.svg" alt="Footwear Image" /></li>
    </ul>
  </div>

  <div class="home__texts">
    <h2>The best option</h2>
    <h3>to line up</h3>
    <h4>for all times and spaces</h4>
  </div>

</section>