<h1> WELCOME to Urban Steps Store </h1>

<section class="home__container">

  <div class="home__slider">
    <ul>
      <li><img src="/img/slider1.svg" alt="Footwear Image" /></li>
      <li><img src="/img/slider2.svg" alt="Footwear Image" /></li>
      <li><img src="/img/slider3.svg" alt="Footwear Image" /></li>
      <li><img src="/img/slider4.svg" alt="Footwear Image" /></li>
    </ul>
  </div>

  <div class="home__texts">
    <h2><span>todas las opciones que necesitás</span></h2>
    <h3> <span>para todos los tiempos</span></h3>
    <h4><span>y espacios</span></h4>
  </div>

</section>