<div class="btnContainer">
  <button id="btnGitHub"> Ingresar con GitHub </button>
  <script>
    const buttonGitHub = document.getElementById("btnGitHub");
    buttonGitHub.addEventListener("click", redirectGitHub); function
    redirectGitHub(){ window.location.href = "/api/sessions/github" }
  </script>
</div>

<div class="separator">
  <span class="line"></span>
  <span class="letter"> O </span>
  <span class="line"></span>
</div>

<form class="form" action="/api/sessions/login" method="POST">

  <label for="email"> Email </label>
  <input type="email" id="email" name="email" required autocomplete="off" />

  <label for="password"> Password </label>
  <input
    type="password"
    id="password"
    name="password"
    required
    autocomplete="off"
  />

  <button class="btnLogin" type="submit"> Login </button>
  <button id="btnRegister"> Register </button>

  <p>Forgot password?<a href="/changePassword">Reset it</a></p>

  <script>
    const buttonRegister = document.getElementById("btnRegister");
    buttonRegister.addEventListener("click", redirectRegister); function
    redirectRegister(){ window.location.href = "/register" }
  </script>

</form>