<h1> Welcome {{userDto.first_name}} to your Profile</h1>
<h2> Your role: {{userDto.role}}</h2>
<form action="/api/users/logout" method="POST">
  <button type="submit" class="btnUser"> Log Out </button>
</form>