{{!-- Actividad desafío4 (Websockets) --}}
<div id="containerProducts"></div>
<h2 class="tituloSec">Formulario para agregar productos</h2>

<form>
  <input type="text" id="title" placeholder="Título" />
  <input type="text" id="description" placeholder="Description" />
  <input type="number" id="price" placeholder="Price" />
  <input type="text" id="img" value="Without Image" />
  <input type="text" id="code" placeholder="Code" />
  <input type="number" id="stock" placeholder="Quantity" />
  <input type="text" id="category" placeholder="Category" />
  <select id="status">
    <option value="true"> Active </option>
    <option value="false"> Anactive </option>
  </select>
  <button type="button" id="btnEnviar"> Send </button>
</form>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.min.js"
></script>
<script src="js/main.js"></script>