<h1>Reset your Password</h1>

<form action="/api/users/resetpassword" method="POST" class="background__container">

  <label for="email"> Email </label>
  <input type="email" name="email" required autocomplete="off"/>

  <label for="token"> Code </label>
  <input type="text" name="token" id="token" required autocomplete="off"/>

  <label for="password"> New Password </label>
  <input type="password" id="password" name="password" required />

  <button type="submit" class="btn__user"> Reset </button>

</form>

{{#if error}}
  <p> {{error}} </p>
{{/if}}
