.tituloPrinc {
  display: flex;
  justify-content: center;
}

.tituloSec {
  display: flex;
  justify-content: center;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 8rem;
  border-radius: 0.8rem;
  margin: 2rem;
  padding: 1rem;
  background-color: rgb(101, 183, 101);
  width: 15vw;
  box-shadow: 0px 1px 10px #2b413a;
}

.cardButton {
  color: whitesmoke;
  background-color: rgb(10, 106, 10);
  padding: 0.8rem;
  margin: 0.8rem;
  font-size: small;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
}

/* login.handlebars */
.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem 0 2.5rem 0;
}

#btnGitHub {
  color: whitesmoke;
  background-color: rgb(10, 106, 10);
  padding: 0.7rem;
  margin: 0.8rem;
  width: 20rem;
  font-size: small;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
}

.separator {
  display: flex;
  align-items: center;
}
.line {
  flex: 1;
  height: 0.1rem;
  margin: 0 2rem;
  background-color: black;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2rem 32rem;
  padding: 1.5rem;
  background-color: rgb(91, 166, 91);
  border: none;
  border-radius: 10px;

  label {
    margin: 0.5rem 7rem 0.5rem 0;
  }

input {
  border: none;
  border-radius: 5px;
  height: 1.4rem;
}
}

.btnLogin, #btnRegister {
  color: whitesmoke;
  background-color: rgb(10, 106, 10);
  padding: 0.5rem;
  margin: 0.8rem;
  width: 6rem;
  font-size: small;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
}