<header>
  <section class="header__section">
    <a href="/" class="header__logo">
      <img src="/img/logo.svg" alt="Logo" />
    </a>

    <button id="open" class="btn__openMenu">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        x-bind:width="size"
        x-bind:height="size"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        x-bind:stroke-width="stroke"
        stroke-linecap="round"
        stroke-linejoin="round"
        width="24"
        height="24"
        stroke-width="2"
      >
        <path d="M4 6l16 0"></path>
        <path d="M4 12l16 0"></path>
        <path d="M4 18l16 0"></path>
      </svg>
    </button>

    <nav id="nav" class="header__nav">
      <button id="close" class="btn__closeMenu">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          x-bind:width="size"
          x-bind:height="size"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          x-bind:stroke-width="stroke"
          stroke-linecap="round"
          stroke-linejoin="round"
          width="24"
          height="24"
          stroke-width="2"
        >
          <path d="M18 6l-12 12"></path>
          <path d="M6 6l12 12"></path>
        </svg>
      </button>

      <ul class="header__nav-list">
        <li><a href="/" class="header__nav-link">HOME</a></li>
        <li><a href="/login" class="header__nav-link">LOGIN</a></li>
        <li><a href="/register" class="header__nav-link">REGISTER</a></li>
        <li><a
            href="/api/users/profile"
            class="header__nav-link"
          >PROFILE</a></li>
      </ul>
    </nav>

  </section>

</header>

<script src="/js/menu.js"></script>