<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urban Steps Store</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{> header}}
      <script>
    const viewportWidth = window.innerWidth; // Obtener el ancho de la ventana
    console.log("Ancho de la ventana en píxeles:", viewportWidth + "px");
  </script>
    <main>
        {{{body}}}
    </main>
    
    {{> footer}}
</body>
</html>
